<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Wikipedia Infobox Inferencing</title>
</head>
<body>
    <form action="/infobox" method="post" enctype="multipart/form-data">
        <label for="userInput">Enter wikipedia article:</label><br>
        <input type="text" id="userInput" name="userInput"><br><br>
        <input type="submit" value="Generate Infobox">
      </form>
</body>
</html>