<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Wikipedia Infobox Inferencing</title>
</head>
<body>
    <div id="table-container">
        <h3 id="infobox-heading">Inferred Infobox</h3><br>
        <table>
            <tbody>
                {% for key, value in infobox.items() %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>